torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
torchmetrics
numpy
scipy
pyworld
tqdm
matplotlib
pandas
pyroomacoustics
numba
nemo_toolkit[all]
pesq
pystoi
git+https://github.com/detly/gammatone
pyctcdecode

notebook

black
isort
pre-commit
